<div class="d-flex flex-column w-100">

	<app-navbar [(toggleResults)]="showResults" [(toggleSummary)]="showSummary" (user)="doShowUser(true)" (report)="doShowReport(true)"></app-navbar>

	<div class="container">
		<p></p>
		<file-drop class="no-print" (onFileDrop)="fileDrop($event)">
			<div class="text-center text-primary">
				<i class="fa fa-upload" style="font-size:23px;"></i>
				<p>Drop your OpenAPI JSON file here</p>
			</div>
		</file-drop>

		<help *ngIf="testSuites.length===0"></help>
		<ng-container *ngIf="showSummary && showResults">
			<app-spec-report [report]="report'"></app-spec-report>
		</ng-container>

	<app-footer class="no-print"></app-footer>
</div>
