<div class="d-flex flex-column w-100">

	<app-navbar
		[(toggleSpecifications)]="showSpecifications"
		[(toggleSummary)]="showSummary"
		(user)="doShowUser(true)"
		(upload)="doShowUpload(true)">
	</app-navbar>

	<div class="container">
		<p></p>
		<file-drop class="no-print" (onFileDrop)="fileDrop($event)">
			<div class="text-center text-primary">
				<i class="fa fa-upload" style="font-size:23px;"></i>
				<p>Drop your OpenAPI JSON file here</p>
			</div>
		</file-drop>

		<help *ngIf="!report"></help>

		<ng-container *ngIf="report">
			<app-spec-report
				[report]="!!report"
				[showSummary]="showSummary"
				[showSpecifications]="showSpecifications">
			</app-spec-report>
		</ng-container>

	</div>
	<app-footer class="no-print"></app-footer>
</div>
