<systelab-dialog-header (close)="close()">Report to Jama (1/2)</systelab-dialog-header>
<div class="slab-flex-1 slab-overflow-container container-fluid">

	<form class="pt-4">
		<div class="row">
			<div class="col-md-3">
				<label class="col-form-label">Project</label>
			</div>
			<div class="col-md-9">
				<project-combobox #projectComboBox [(id)]="selectedProjectId"
													[(description)]="selectedProjectName"
													[emptyElement]="false"></project-combobox>
			</div>
		</div>

		<div class="row mt-2">
			<div class="col-md-3">
				<label class="col-form-label">Item Type</label>
			</div>
			<div class="col-md-9">
				<item-type-combobox #itemTypeComboBox [(id)]="selectedItemTypeId"
													[(description)]="selectedItemTypeName"
													[emptyElement]="false"></item-type-combobox>
			</div>
		</div>

		<div class="row mt-2">
			<div class="col-md-3">
				<label class="col-form-label">Specifications Set</label>
			</div>
			<div class="col-md-9">
				<spec-set-combobox #specSetComboBox [(id)]="selectedSpecSetId"
													[(description)]="selectedSpecSetName"
													[emptyElement]="false"></spec-set-combobox>
			</div>
		</div>
	</form>
</div>
<systelab-dialog-bottom>
	<button type="button" class="btn ml-auto" (click)="doNext()" [disabled]="!isValidForm()">Next</button>
</systelab-dialog-bottom>
