div.endpoint-wrapper {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0,0,0,.19);
    padding-left: 0px;
    padding-right: 0px;
}

div.endpoint-wrapper.get {
    background-color: #61affe;
    border-color: #61affe;
    background: rgba(97,175,254,.1);
}

div.endpoint-wrapper.post {
    background-color: #49cc90;
    border-color: #49cc90;
    background: rgba(73,204,144,.1);
}

div.endpoint-wrapper.put {
    background-color: #fca130;
    border-color: #fca130;
    background: rgba(252,161,48,.1);
}

div.endpoint-wrapper.patch {
    background-color: #fca130;
    border-color: #fca130;
    background: rgba(252,161,48,.1);
}

div.endpoint-wrapper.delete {
    background-color: #f93e3e;
    border-color: #f93e3e;
    background: rgba(249,62,62,.1);
}

div.endpoint-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
}

div.endpoint-head .data {
    display: flex;
    flex-direction: row;
}

div.endpoint-head .method {
    font-size: 14px;
    font-weight: 700;
    min-width: 80px;
    padding: 6px 15px;
    text-align: center;
    border-radius: 3px;
    background: #000;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    font-family: sans-serif;
    color: #fff;
}

div.endpoint-head .method.get {
    background: #61affe;
}

div.endpoint-head .method.post {
    background: #49cc90;
}

div.endpoint-head .method.put {
    background: #fca130;
}

div.endpoint-head .method.patch {
    background: #fca130;
}

div.endpoint-head .method.delete {
    background: #f93e3e;
}

div.endpoint-head .path {
    display: flex;
    font-family: var(--font-mono);
    font-size: var(--font-size-small);
    font-weight: bold;
    align-items: center;
    overflow-wrap: break-word;
    word-break: break-all;
    padding-left: 10px;
}

div.endpoint-head .collapse-button {
    background-image: url('../../../../assets/img/icons/arrow_down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    cursor: pointer;
    &.expanded {
      transform: rotate(180deg);
    }
}

div.endpoint-body {
    border-top-width: 1px;
    border-top-style: solid;
}

.get div.endpoint-body {
    border-top-color: #61affe;
}

.post div.endpoint-body {
    border-top-color: #49cc90;
}

.put div.endpoint-body {
    border-top-color: #fca130;
}

.patch div.endpoint-body {
    border-top-color: #fca130;
}

.delete div.endpoint-body {
    border-top-color: #f93e3e;
}

div.endpoint-body .summary {
    font-family: var(--font-mono);
    font-size: var(--font-size-small);
}

div.endpoint-body .section-title {
    font-family: var(--font-mono);
    font-size: var(--font-size-small);
    font-weight: bold;
}

div.header-cell {
    font-weight: bold;
    background-color: lightgrey;
    margin: 2px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
}

div.cell {
    background-color: rgb(240,240,240);
    margin: 2px;
    vertical-align: middle;
    line-height: 30px;
}

div.header-cell.center, div.cell.center {
    text-align: center;
}

div.endpoint-wrapper.get div.header-cell {
    background-color: #61affe;
    color: white;
}

div.endpoint-wrapper.get div.cell {
    background-color: rgb(204, 230, 255);
}

div.endpoint-wrapper.post div.header-cell {
    background-color: #49cc90;
    color: white;
}

div.endpoint-wrapper.post div.cell {
    background-color: rgb(207, 241, 226);
}

div.endpoint-wrapper.patch div.header-cell, div.endpoint-wrapper.put div.header-cell {
    background-color: #fca130;
    color: white;
}

div.endpoint-wrapper.patch div.cell, div.endpoint-wrapper.put div.cell {
    background-color: rgb(254, 222, 184);
}

div.endpoint-wrapper.delete div.header-cell {
    background-color: #f93e3e;
    color: white;
}

div.endpoint-wrapper.delete div.cell {
    background-color: rgb(253, 187, 187);
}